node_modules
/node_modules
dist
/dist
build
/build
.next
/.next
admin-ui
static/assets
static/email/test-emails

# Environment files
.env
.env.*

# Old migrations (production has its own)
src/migrations/
migrations/
